<a href="https://colab.research.google.com/github/HAN-GEONHUI/test/blob/main/20240808%EC%88%98%EC%97%85%EB%82%B4%EC%9A%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
#거의2.5~3개월 (교육기간)+2.5~3개월(현엽 프로젝트)
#앞 부분: 파이썬,sql,데이터핸들링(eda개인프로젝트) 9초
#ml내용(조별 ml프로젝트)2.5주
#dl내용(기본내용+이미지+text+생성):1.2 ===> 조별 dl프로젝트
#*각기 부분마다 프로젝트
#==> 취업을 위한 프로젝트(따라하는 느낌이 X, ,직접 주제를 발굴해서 진행) ,주제를 정하기가 어려움 고민해봐야함(주제+데이터를 모두 고려)

#중요한 사항: 본인의 3개의 포트폴리오 구성
#시간이 좀 널널할 때: 취업 공고들을 보고 정리들을 해야 함
#(A/B/C/D/E==>B/C/A-> 엑셀로 정리를 하시는것을 추천
#(시각화:테블로 자격증 추천)+본인 EDA프로젝트에서 시작화 포폴에 신경써야 함!!!!
#클라우드 경험/자격증(GCP,AWS쪽에서 획득하기 편한 것들) 추천
#개인 별로 본인이 가려는 쪽에 필요한 포트폴리오를 채우는 것이 목적!

#최근에 DL(ML+DL):
#간단한 모델링 쪽:본인 포플!
#좀 전문적인 모델링 쪽: 학위+학회 발표(DL너무 빠르게 기술이 발전)-> 최신 논문을 발표된 것으로 우리 회사에 적용(논문 이해+코드 구현:석박사 학위!)

#*수업은 미처 모르는 부분에 대해서 점검!
#*방점: 본인들 프로젝트 중심!
#(다 아는데 괜히 듣고 있는거는 시간 낭비-> 단 그 비는 시간에 무엇을 하실지는 생각해야 함)


#ml 프로젝트
#-프로젝트 할때 결과를 내는 것이 끝이 아니라 마지막에 결과를 어디에 적용할지도 생각해 봐야함
#- 주제들이 거의 들어본 주제들, 차별점이 필요함(새로운 변수들)-> 발전시키면 국내 학회 제출(공식적인 결과물)

#*DL프로젝트
#내가 무엇을 하고 싶은지를 중심으로 최신 모델
#그거 하는 사람 말고는 그 누구도 잘 몰라요!
#-> 뭔가 새로운 구조/결과 학회용으로 하기가 수월함
#(단 ,데이터만 갈아서는 학회x)=> 모델의 구조를 알아야 함
#->내가 하려는 주제 사이의 간격이 큼
#(미리 관심 있는 것들을 하시는 것도 방법!)
#-> 장점: 학회 포폴에서도 눈에 띄일 수 있음!
#단 논문을 이해할 수 있는 능력+코딩 능력이 필요
#(DL코드는... 최근 모델은 거의 Class+pytorch)
#클래스 파이토치 공부가 필요함(다시 굴러야 하는 시간이 다...)
#BUT 수업에서는 주로 TensorFlow(Keras)로 진행

#파이썬 문법을 달달하지 말기-> 본인 만의 task를 하면 됨
#코테: 여러 지원자를 필터링-> 100점 목표 x, 기준 컷트라인 통과

#개발X-> 파이썬의 기본 문법 +기출 된 코테 풀어

In [ ]:
a = 100
print(a)

200

In [ ]:
#일반적으로_(언더스코어)로 시작하는 변수명: 클래스 내부용이라는 뜻
#특히__(언더스코어)2개를 사용하는 _ _ init _ _ ,_ _ add_ _와 같은 것은 특별한 의미들이 있으므로 정확히 알기 전에는 사용하지 말것.

#Mutable vs Immutable : 변경가능한 대상 vs 변경불가능한 대상
#변수에 값을 할당하는 과정에서 연산자를 같이 사용할 수 있음!!

In [ ]:
n=10
n=n+1
n=n+1

In [ ]:
print(n)

12

In [ ]:
# n = n + 1 로 할 수 있지만,나중에는 속도 등의 이슈로 인해서 이러한 경우보다는n +=1로 작성하는 것을 사용해하는 것을 추천!!!

In [ ]:
##파이썬의 특징: 멀티 할당
#->파이썬만이 가지고 있는 코딩 구현의 간결함에 중요한 부분 중 하나 (정확한 인지 필요)

In [ ]:

a=10
b=20
print(a,b)
temp = a
a = b
b = temp
print(a,b)

10 20
20 10

In [ ]:
a = 10
b = 20
print(a,b)
a,b = b,a
print(a,b)

10 20
20 10

In [ ]:
##CodingTest or 앞으로 데이터 핸들링의 관점에서는 다음과 보는 것이 어떨까 함!!!
# 1개의 값
#→ 그 값의 종류에 따라서 숫자( 물론 숫자도 정수, 소수 등 int, float),
#→논리값(True / False)
#→문자( “a”, “b”) ( 참고: hello 같은 문자열이 아닌 1개의 문자!!!!)

##• 여러 개의 값
#→리스트 [ 값, 값, 값 ,,,, ] : 추가 / 제거
#→튜플 ( 값, 값, 값 ,,, ) : 1번 생성 하면 변경이 안 됨!
#→집합 { 값, 값, 값 ,,,, } : 수학적인 집합 → 유니크한 원소들만!
#→딕션어리 { 키1: 값1, 키2 : 값2 , ... } : 키 값을 통해서 접근성이 빠름
#→ 파이썬을 활용한 코테에서는 dict를 잘 써야 함: 왜냐하면 빠르기 때문

In [ ]:
#연산자 중에서: 중요하게 체크할 연산자: 나눗셈!!!
#/연산 : 몫에 대한 소수 처리

In [ ]:
33/10

3.3

In [ ]:
#파이썬 기본 나눗셈 연산자: 적당히 뒤에서 반올림!!
#--> 수치 연산 중요한 모델링(ML/DLL)
#    모델의 성는ㅇ을 좌우
#    DL쪽에서는 일반적인 것 보다 긴 자료형을 선택을 할 수 있음
#--> pyutorch/tensorflow에서 자료형에서 더 큰 양식!

In [ ]:
print(5%3)
#코테에서는 자주 활용이 되는 아이디어임!
#예)99건의 데이터를 처리하려고 하는데 10건 단위로 처리한다
#  ==> 코드화 작업을 해야함!
#  : Dart(전자공시사이트에서) 공시 수집할 때

In [ ]:
#파이썬에서 공식적으로 마든 FM함수
#divmod(0)함수
#==> 입력: 무엇을 무엇으로 나눌지 정보(기준수,나눌수)
#    기능: 나눗셈을 해서 몫, 나머지
#    출력: 몫, 나머지
divmod(5,3)

In [ ]:
divmod(5,3)[0] #ahrt

1

In [ ]:
5//3

1

In [ ]:
divmod(5,3)[1] #나머지

In [ ]:
5 % 3

2

In [ ]:
#파이썬의 멀티 할당을 활용!!-> for 문에 많이 활용을 함.
#g = divmod(5,3)[0]
#m = divmod(5,3)[1]
q,m = divmod(5,3)
print(q,m)

1 2

In [ ]:
## 파이썬의 대표적인 여러개를 다루는 자료형:리스트
# 1)기본 구조: [값,값,값,값]
# 2)대표기능
# 원소 추가:apeend(값을 맨 뒤에 추가), insert(중간새치기)->어디에 &누굴 추가할까!
# 원소 제거:pop(어디 위치를 제거할까), remove(어떤 값을 제거할 까)
# -> remove(중복된 여러개의 원소가 있을 때, 그 중에서 맨 앞에 1개만 제거!)

In [ ]:
a_list = [10,20,30,40]
print(a_list)
a_list.append(50)
print(a_list)

[10, 20, 30, 40]
[10, 20, 30, 40, 50]

In [ ]:
#값의 종류가 꼭 일치하지는 않아도 됨!
#==> 그냥 여러개를 묶어둔다!
#장점 : 이질적인 정보들도 하나의 변수에 담을 수 있다.
#단점: 자료형을 타이트하게 할 수 없어서 용량이 클 수 있음

In [ ]:
a_list.pop()
print(a_list)

[10, 20, 30, 40]

In [ ]:
a_list.pop(0)
print(a_list)

[20, 30, 40]

In [ ]:
a_list.append(3)
a_list.append(3)
a_list.insert(2,3)
print(a_list)

[20, 30, 3, 40, 3, 3]

In [ ]:
a_list.remove(3)
print(a_list)

[20, 30, 40, 3, 3]

In [ ]:
#여러개의 값들에 대한 접근!!
#==> 몇 번째 나와!!(우치 정보)
#  순방향: 0,양의 정수
#   역방향: 음의 정수
#--> 정수 인덱스

#하나의 값을 가져올 것인가 vs 여러개의 값이 규칙!!

In [ ]:
a_list

[20, 30, 40, 3, 3]

In [ ]:
a_list[0]

20

In [ ]:
a_list[1],a_list[-1]

(30, 3)

In [ ]:
#예: 앞의 3개의 값 나와봐!
a_list[0],a_list[1],a_list[2]

(20, 30, 40)

In [ ]:
a_list[0:3] #인덱스 자리에 슬라이싱: 규칙적인 여러개
#슬라이싱: 정수 인덱스 자리에서 사용!
#--> 시작점: 끝점(빠짐): 간격
#--> 여러개의 값들을 규칙적으로 접근 할 때 사용!!
a_list[::] #-> 자기 자신

[20, 30, 40, 3, 3]

In [ ]:
#참고)
a_list[::-1] #--> 순서를 역순

[3, 3, 40, 30, 20]

In [ ]:
# 참고) 쌩 파이썬의 리스트에서 안 되는거!
# ==> []하는 것들을 덩어리로 넣으면 되지 않을까?
a_list[[1,3,4]]
#==>numpy 패키지의 array자료형은 위의 코드가 가능함

TypeError: list indices must be integers or slices, not list

In [ ]:
#리스트에 대한 간단한 정리
#리스트 구조 : [값,값,값,,,]
#값을 접근하는 방식: 정수 인덱스(1개), 여러개(규칙이 있을 때 , 슬라이싱)
#기본적인 동작(매서드): 추가(append,insert),,제거(pop,remove)

In [ ]:
#리스트와 거의 유사한 tuple

In [ ]:
a_tuple = (1,2,3,4,'Hello',100)
a_tuple[:3]

(1, 2, 3)

In [ ]:
t = list(a_tuple)
t.append(100)
t

[1, 2, 3, 4, 'Hello', 100, 100]

In [ ]:
# ***자료형의 특징들을 잘 사용하고, 필요에 따라서 왔다갔다 하면 된다(코테 마인드)

In [ ]:
# 값 종류: 문자/문자열
#1개 : 문자
#여러개 : 문자열
"hello": "h"+"e"+"l"+"l"+"o"
#==> 표기 양식 : "",'',""" """,''' '''

In [ ]:
"hello"[0:3]

'hel'

In [ ]:
'hello'

'hello'

In [ ]:
"""hello"""

'hello'

In [ ]:
'''hello'''

'hello'

In [ ]:
#==> 긴 문서, 문장, 책 도서관 수준의 데이터
#==>파이썬의 문자열이 애매한 경우가 발생을 함

In [ ]:
"탐은 "나는 집에 갑니다" 라고 말했습니다."

SyntaxError: invalid syntax (<ipython-input-32-af85a84c24e2>, line 1)

In [ ]:
#""이 전체를 포함 못해 오류가 남

In [ ]:
"탐은 \" 나는 집에 갑니다\" 라고 말했습니다."

'탐은 " 나는 집에 갑니다" 라고 말했습니다.'

In [ ]:
#나중에 문자열을 좀 더 정확하게, 규칙적으로
# ==> 정규식!!!
# ==> 자연어처리 피할 수 없음!
#     데이터 수집을 할 때
#     카카오계열에서는 코테에 종종 정규식이 나옴

In [ ]:
#참고) 파이썬에 특별 메소드 : 향후 클래스 시간에 구현을 할 예정
#==> 파이썬 or, 대충 이렇게 될까
a = [1,2,3]
b = ["a","b","c"]
a+b

[1, 2, 3, 'a', 'b', 'c']

In [ ]:
"1"+"3"

'13'

In [ ]:
#코테에서 중요한 dict 자료형!
#==> 기본 틀 : 여러개의 값을 모아두는 것!
#              (키:값)쌍을 중심으로 모아두는 것이 차이점!
#      {키:값, 키:값, 키:값,,,}
#==> 미니데이터베이스 자료형!!!
##=> 코테에서 잘 사용하면 유용한 자료형
#(간혹: HashTable에 대한 면접 질문)
a_dict = {"a":1234,"b":5678}
a_dict["a"]

1234

In [ ]:
a_dict[0]

KeyError: 0

In [ ]:
#딕셔너리는 순서가 없다, 저렇게 쓸시 키 '0'의 값을 찾는 것

In [ ]:
#dict의 정보 구성: 각기 정보들만 보자!
#==>key들만, values들만.

In [ ]:
a_dict.keys()

dict_keys(['a', 'b'])

In [ ]:
a_dict.values()

dict_values([1234, 5678])

In [ ]:
#+++ dict에서 한 번에 쌍으로 도릴고 싶다!
#dict.items() 메서드를 활용 +for

In [ ]:
a_set = {1,1,1,2,3,3,3,4,5,6}
a_set[0]

TypeError: 'set' object is not subscriptable

In [ ]:
list(a_set)[0]

1

In [ ]:
#여기까지가 기본적인 파이썬의 여러가지 자료형!!
#==>1개 값 vs 여러개 값
--> 여러개 : 리스트(정수 인덱스),~튜플
#            문자열
#            잡다한 기능들을 잘 알아야 함(메서드)

In [ ]:
#조건문 : if
#예) 숫자 하나를 입력 받아서, -> 양수,음수,0을 판단

In [ ]:
a = 10

if a > 0:
    # 위의 조건이 만족할 때 무엇을 할지 기술 : tab
    print("양수")
# a >0 조건을 만족하지 않으면..
elif a <0:
  print("음수")
elif a == 0:
  print("0입니다")
else:
  print("입력이 이상합니다... 확인해보세요")

양수

In [ ]:
#파이썬의 for문을 여러개의 값들을 롤링 해주는 역할!

In [ ]:
#상황: 1부터 10까지 출력을 하세요!
print(1)
print(2)
print(3)
#ctrl+c/v할 때: 어떤 곳이 고정/가변인지 구별해야 함

In [ ]:
print(i) #i를 바뀌는 값 변수로 잡으면,, 고정되는 print

5

In [ ]:
for i in[1,2,3,4,5,6,7,8,9]:
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
a_list =[1,2,3,4,5,6,7,8,9]
for i in a_list:
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
#참고)필요한 여러개의 값이 특정한 숫자들이다
#==> 파이썬에서는 range(시작점,끝점, 간격)-> 연속되거나 규칙적인 여러개의 숫자들을 만들어줌

In [ ]:
for i in range(1,10,1): #[1,2,3,4,5,6,7,8,9]
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
#대상이 리스트
a_list = ["a","b","c","dd",20,30,"x"]
a_list

['a', 'b', 'c', 'dd', 20, 30, 'x']

In [ ]:
print(a_list[0])
print(a_list[1])
print(a_list[2])
print(a_list[3])
print(a_list[4])
print(a_list[5])
print(a_list[6])

a
b
c
dd
20
30
x

In [ ]:
for i in range(0,9,1):
  print(i) #i가 0~8까지
#==> 내가 필요한 부분이 여러개 & 숫자 &연속된 규칙
#==>[0,1,2,3,4,5,6,7,8,]
#==> range(0,9,1)

0
1
2
3
4
5
6
7
8

In [ ]:
for i in range(0,6,1):
  print(a_list[i])

a
b
c
dd
20
30

In [ ]:
###중요
#파이썬으로 for문을 돌릴 때 2가지를 다 익숙해야 함

In [ ]:
#dict에서 key,value를 한 번에 같이 돌리자!
#==> .items()
for i in a_dict.items():
  print(i)

('a', 1234)
('b', 5678)

In [ ]:
for i in a_dict.items():
  print(i[0],i[1]) #key,value

a 1234
b 5678

In [ ]:
#+파이썬의 특징 : 멀티 할당!
for k,v in a_dict.items():
  print(k,v)

a 1234
b 5678

In [ ]:
#문제) 국어 80점, 수학 75점,영어 55점,사회 90점
#---> 이 학생의 평균을 구하는 코드를 작성하세요

In [ ]:
a = 80
b= 75
c= 75
d= 55
e= 90

sum=a+b+c+d+e
mean = sum/5
print(mean)

75.0

In [ ]:
korean = 80
math = 75
english = 55
social = 90
avg_score = (korean+math+english+social)/4
print(avg_score)

75.0

In [ ]:
#방법2) 구체적인 과목명은 필요 없으니,, 필요한 점수들만!
#==> 여러개의 점수들
#==> 파이썬의 여러개의 자료형 중: 리스트 선택!!
zumsu_list = [80,75,55,90]
avg_score = sum(zumsu_list)/len(zumsu_list)
print(avg_score)

SyntaxError: invalid syntax (<ipython-input-77-ca95c2e066f8>, line 5)

In [ ]:
#방법3) 방법2에 대한 것을 직접 구현을 하도록 하겠음!
#==> 코테에서 가장 기본적인 구조: 카운팅!합!
#==> sum/len 직접 구현을 하겠습니다
zumsu_list =[ 80,75,55,90]
#zumsu_list를 돌려가면서,누적합/누적카운팅
#필요한 변수: 만들면 됨!
tot =0 #누적합을 기록할 용도의 변수
cnt = 0 #누적 카운팅 기록할 용도의 변수
#참고) 누적곱: 1 --> +/*항등원(초기값을 잘 세팅!!)
for i in zumsu_list:
  tot +=i #tot = tot +i #0,0+80,0+80+75,0+80+75+55
  tnt +=1
avg_score= tot/tnt

In [ ]:
a = input("성적을 입력하세요")
a

성적을 입력하세요100

'100'

In [ ]:
a+10
# 주의!!)input함수로 내가 숫자 키보들르 눌러도 문자열로 취급이 된다.
#-> 숫자로 처리하기 위해서는 "형"변환!!

TypeError: can only concatenate str (not "int") to str

In [ ]:
# 예전부터 유명사이트(백준: 직접 입력을 해야 가능함.)
#코테사이트(프로그래머스):직접 입력울 설계할 필요X

In [ ]:
int(a)+10

110

In [ ]:
korean = int(input("국어점수를 입력하세요."))
math = int(input("수학점수를 입력하세요."))
english = int(input("영어점수를 입력하세요."))
social = int(input("사회점수를 입력하세요."))
avg_score=0
avg_score = (korean+math+english+social)/4
print(avg_score)

국어점수를 입력하세요.10
수학점수를 입력하세요.20
영어점수를 입력하세요.30
사회점수를 입력하세요.40
25.0

In [ ]:
#방법2에 대한 방법
zumsu_list =[]
zumsu_list.append(int(input("국어점수를 입력하세요.")))
zumsu_list.append(int(input("영어점수를 입력하세요.")))
zumsu_list.append(int(input("수학점수를 입력하세요.")))
zumsu_list.append(int(input("사회점수를 입력하세요.")))
avg_score =0
avg_score = sum(zumsu_list)/ len(zumsu_list)
print(avg_score)

국어점수를 입력하세요.10
영어점수를 입력하세요.20
수학점수를 입력하세요.30
사회점수를 입력하세요.40
25.0

In [ ]:
#--> a의 접근
a = ["one","two","three","four"]
b = []
for i in range(1,5,1):
  print(i)
  print(a[i-1])
  b.append(a[i-1]+str(i))
  print(b)
  str(i)

1
one
['one1']
2
two
['one1', 'two2']
3
three
['one1', 'two2', 'three3']
4
four
['one1', 'two2', 'three3', 'four4']

In [ ]:
b = []
for i in range(1,5,1):
  b.append(a[i-1]+str(i))
b

['one1', 'two2', 'three3', 'four4']

In [ ]:
[a[i-1]+str(i) for i in range(len(a))]

['four0', 'one1', 'two2', 'three3']

In [ ]:
#for i in range(0,len(a),1):
b=[]
for i in range(len(a)):

In [ ]:
#ex2)직접 a의 값을 중심으로 돌리 수 있음
#==> 값 자체 접근은 바로 할 수 있음
#but 붙일 숫자값은 없어요;;;
#없으면 만드시면 됩니다
#1부터 하나씩 증가하는 카운팅이 되는 변ㅅ
cnt =1
for i in a:
  print(i+str(cnt))
  cnt+=1   #갱신!!

one1
two2
three3
four4

In [ ]:
#참고: 파이썬 계열에서 리스트 컴프리핸션
#--> 리스ㅡ에 모으는 기능

In [ ]:
b =[]
for i in a:
  print(i)
  b.append(i)
b

one
two
three
four

['one', 'two', 'three', 'four']

In [ ]:
[i+"aaa" for i in a]
#[모을 대상+반복문]

['oneaaa', 'twoaaa', 'threeaaa', 'fouraaa']

In [ ]:
#문제) a = [1,2,3,4,5]리스트가 주어졌을 때
#     ==>[1,3,5]의 리스트로 만들어 보세요!
#: 기존의 값들에서 필요한 조건에 맞는 값들만 필터링!

In [ ]:
#sol1) 내가 제거할 값들에 대해서 규칙이 있냐/없냐? yes
#      규칙: 홀수/짝수 판별
#      살리는 값을 기준으로 한다면 :홀수만 살리자!
#      2로 나눠서 나머지가 1인 모든 수:%
#      ==> a의 모든 원소를 대상으로 규칙을 적용해 봐야함!
#      for문으로 돌림

In [ ]:
a=[1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [ ]:
b=[]
for i in a:
  if i % 2 ==1:
    b.append(i)
b

[1, 3, 5]

In [ ]:
#==>리스트컴프리핸션
[i for i in a if i %2 ==1]

[1, 3, 5]

In [ ]:
#+++ a 중에서 홀수인 값들만 *10을 해서 모으세요!
[1*10 for i in a if i %2==1]

[10, 10, 10]