<a href="https://colab.research.google.com/github/HAN-GEONHUI/test/blob/t_academy_%EC%88%98%EC%97%85/%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%A0%95%EB%A6%AC(240819).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#체계적으로 기능 중심으로 구현을 할 때
#참고) 데이터 수집, 데이터 분석, 머신러닝,: 함수정도 충분
#      딥러닝: Tensor/keras--> 함수[전통적인 모델들]
#      최신 모델(프로젝트 주제가 최신) PyTorch: 클래스
#--->  딥러닝에 관심있는 사람들은 파이토치를 공부해볼 것

In [ ]:
#학생들에 대한 국어,영어,수학,과학 점수들을 처리하고자 함.
#1) 주어진 정보들을 파이썬의 특징을 활용해서 꾸역꾸역처리하고자 함
#--> 우리 반 전체 학생들: 리스트
#       개별 학생에 대한 과목 정보: 딕션어리

In [ ]:
students = [
    {"name":"AAA", "korean":98, "math":93, "english":79, "science":95},
    {"name":"BBB", "korean":78, "math":87, "english":87, "science":90},
    {"name":"CCC", "korean":90, "math":85, "english":89, "science":92},
    {"name":"DDD", "korean":80, "math":96, "english":99, "science":93},
    {"name":"EEE", "korean":70, "math":80, "english":89, "science":95},
]
students

[{'name': 'AAA', 'korean': 98, 'math': 93, 'english': 79, 'science': 95},
 {'name': 'BBB', 'korean': 78, 'math': 87, 'english': 87, 'science': 90},
 {'name': 'CCC', 'korean': 90, 'math': 85, 'english': 89, 'science': 92},
 {'name': 'DDD', 'korean': 80, 'math': 96, 'english': 99, 'science': 93},
 {'name': 'EEE', 'korean': 70, 'math': 80, 'english': 89, 'science': 95}]

In [ ]:
# 우리반 학생별로 4과목 성적에 대한 총점/ 평균 점수를 출력하고자 함!!!
# 출력 : 학생이름, 4과목 총점, 4과목에 대한 평균 출력!!
print("이름", "총점","평균", sep="\t") # sep:출력대상들 사이 , end: 다 출력하고 끝에 뭐할지..

for student in students:
  # 개별 학생들이 무엇을 하지!
  score_sum = student["korean"] + student["math"]+student["english"] + student["science"]

  score_avg = score_sum/4
  print(student["name"],score_sum,score_avg,sep="\t")

이름	총점	평균
AAA	365	91.25
BBB	342	85.5
CCC	356	89.0
DDD	368	92.0
EEE	334	83.5

In [ ]:
# 2) 학생들에대한 정보를 생성하는 함수!!!!!
#   ===> 학생마다 정보를 생성할 때 키값이 계속 동일한대도 반복을 해서 타이핑!!
#        이것이 반복이 되고, 귀찮으니,,,,함수로 만들어서 처리하자!!
#   ===> 가장 반복이 없는 기본이 되는 정보들로 가지고 생성하자!!!

In [ ]:
def create_student( name, kor, math, eng, sci):
    return {"name":name, "korean":kor, "math":math, "english":eng,"science":sci}

In [ ]:
#--> test: AAA,98,93,79,95

In [ ]:
students = [
    {"name":"AAA", "korean":98, "math":93, "english":79, "science":95},
    {"name":"BBB", "korean":78, "math":87, "english":87, "science":90},
    {"name":"CCC", "korean":90, "math":85, "english":89, "science":92},
    {"name":"DDD", "korean":80, "math":96, "english":99, "science":93},
    {"name":"EEE", "korean":70, "math":80, "english":89, "science":95},
]
students

[{'name': 'AAA', 'korean': 98, 'math': 93, 'english': 79, 'science': 95},
 {'name': 'BBB', 'korean': 78, 'math': 87, 'english': 87, 'science': 90},
 {'name': 'CCC', 'korean': 90, 'math': 85, 'english': 89, 'science': 92},
 {'name': 'DDD', 'korean': 80, 'math': 96, 'english': 99, 'science': 93},
 {'name': 'EEE', 'korean': 70, 'math': 80, 'english': 89, 'science': 95}]

In [ ]:
#위의 그림과 같은 것들 앞에서 만든 create_student 함수를 이용해서
#입력을 소화해서 학생들에 대한 정보들을 코드화
students = [
    create_student( "AAA",98, 93, 79,95),
    create_student( "BBB",78, 87, 87,90),
    create_student( "CCC",90, 85, 89,92),
    create_student( "DDD",80, 96, 99,93),
    create_student( "EEE",70, 80, 89,95)
]
students

[{'name': 'AAA', 'korean': 98, 'math': 93, 'english': 79, 'science': 95},
 {'name': 'BBB', 'korean': 78, 'math': 87, 'english': 87, 'science': 90},
 {'name': 'CCC', 'korean': 90, 'math': 85, 'english': 89, 'science': 92},
 {'name': 'DDD', 'korean': 80, 'math': 96, 'english': 99, 'science': 93},
 {'name': 'EEE', 'korean': 70, 'math': 80, 'english': 89, 'science': 95}]

In [ ]:
#3) 필요한 기능들에 대해서 다 함수화 최대한 하려고 함!
#- 1명 학생에 대한 정보를 생성하는 함수
#+ 1명 학생에 대한 정보를 바탕으로 총점을 구하는 함수
#+ 1명 학생에 대한 정보를 바탕으로 평균을 구하는 함수
#+ 1명 학생에 대한 정보를 바탕으로 출력(이름,총점,평균)을 구하는 함수

In [ ]:
#-1명 학생에 대한 정보를 생성한느 함수
#입력: 이름, 국어,수학,영어,과학
#기능: 학생 정보에 대한 DICT 생성
#출력: 1명 학생에 대한 정보 dict

def create_student( name, kor, math, eng, sci):
    return {"name":name, "korean":kor, "math":math,
            "english":eng, "science":sci}

#+1명 학생에 대한 총점을 계산해주는 함수
#입력 : 1명 학생의 정보
#기능 : 1명 학생의 총점 계산
#출력 : 1명 학생의 총점
def student_get_sum(student): #student={"name":"aaaa","korean":83,,,,}
    score_sum = student["korean"] + student["math"] \
                    + student["english"] + student["science"]
    return score_sum
# +1명 학생에 대한 4과목 평균을 계산해주는 함수
# 입력 : 학생 1명에 대한 정보
# 기능 : 4과목 점수 평균 계산
# 출력 : 평균 점수
def student_get_avg(student):
    score_avg = student_get_sum(student)/4
    return score_avg

# + 1명 학생에 대한 정보 출력을 하는 함수
# 입력 : 학생 1명에 대한 정보
# 기능 : 정보를 출력하는 문자열을 생성 --> 이름, 총점, 평균
# 출력 : 출력할 문자열
def student_to_string(student):
    temp = "{0}\t{1}\t{2}".format(student["name"],student_get_sum( student),
                                  student_get_avg(student ))
    return temp

In [ ]:
# 참고) 파이썬의 문자열을 표현하는 방식은 크게 3가지
# - % 연산자를 활용해서 표현
# - format() 활용
# - f-string 통해서 표현
#->편한거 쓰기

In [ ]:
a = 365
print("나의 총점:",a)

나의 총점: 365

In [ ]:
a = 365
print("나의 총점:{}".format(a))

나의 총점:365

In [ ]:
a =365
b = 99
print("나의 총점:{}, 평균:{}".format(a,b))

나의 총점:365, 평균:99

In [ ]:
a =365
b = 99
print("나의 총점:{1}, 평균:{0}".format(a,b))

나의 총점:99, 평균:365

In [ ]:
a =365
b = 99
print("나의 총점:{1}, 평균:{0}",반의 평균:{1}.format(a,b))
#--b,a,b 하나하나 나열하지 않고 한 번 정의한 순서를 중심으로 반복해서 사용이 가능함

In [ ]:
#파이썬 :3.x-> 추가된 문자열 f-string
a = 365
b = 99
print(f"나의 총점:{a},평균:{b}")

나의 총점:365,평균:99

In [ ]:
# 학생 생성도 함수로 & 기능도 함수로
# ==> 학생 생성은 위에서 복봍
students = [
    create_student( "AAA",98, 93, 79,95),
    create_student( "BBB",78, 87, 87,90),
    create_student( "CCC",90, 85, 89,92),
    create_student( "DDD",80, 96, 99,93),
    create_student( "EEE",70, 80, 89,95)
]

print("이름", "총점","평균", sep="\t")
for student in students:
    print( student_to_string(student) )


# 우리반 학생별로 4과목 성적에 대한 총점/ 평균 점수를 출력하고자 함!!!
# 출력 : 학생이름, 4과목 총점, 4과목에 대한 평균 출력!!
# print("이름", "총점","평균", sep="\t") # sep:출력대상들 사이 , end: 다 출력하고 끝에 뭐할지..

# for student in students:
#     # 개별학생에서 무엇을 하지!!!!!
#     score_sum = student["korean"] + student["math"] +student["english"] \
#                     + student["science"]
#     score_avg = score_sum / 4
#     print(student["name"], score_sum, score_avg, sep="\t")

이름	총점	평균
AAA	365	91.25
BBB	342	85.5
CCC	356	89.0
DDD	368	92.0
EEE	334	83.5

In [ ]:
### 일반적으로 프로그램의 코드들을 작성하는 스타일과 조금 달라요
#--> 객체지향으로 설계: class ---> object
#필요한 기능 중심으로, 조립을 하는 방식
#수 많은 시행착오, 경험, 노하우, 트렌드..
# 참고) 데이터 분석/ 모델링 쪽은: 아주 심하는지는 않음, 기본적인 부분, 약간의 스타일이 있음
#참고) kaggle 오픈 사이틔 올려둔 샘플코드들이 클래스를 사용해야 하는 경우 이해하기 위해서도 알기는 해야함.

# 클래스: class: 속성 +기능(뭔가 틀을 생성하는 것이 class)
#                점수, 이름: 속성--> property
#                평균구해주세요, 총점 계산해주세요: 기능--> method

#객체: 클래스를 기반으로 생성된 구체적인 대상
#self: 붕어빵틀: 클래스--> 구체적으로 만들어진 붕어빵1개: 객체
#self: 자기자신을

In [ ]:
class Studnet: # 일반적인 함수와 구별해서 하기 위해서 보통은 대문자로 시작!!!
# 생성자 : 필요한 초기 속성들에 대한 초기화!!!!
#         ==> 파이썬에서 클래스 생성시 초기화  미리 만든 함수 특별함수 : _(양옆2개)
    def __init__(self,name,korean, math, english, science ):
        self.name = name
        self.korean = korean
        self.math = math
        self.english = english
        self.science = science

In [ ]:
students = [
    Studnet( "AAA",98, 93, 79,95),
    Studnet( "BBB",78, 87, 87,90),
    Studnet( "CCC",90, 85, 89,92),
    Studnet( "DDD",80, 96, 99,93),
    Studnet( "EEE",70, 80, 89,95)
]
students

[<__main__.Studnet at 0x7a33fb1ad600>,
 <__main__.Studnet at 0x7a33fb1ae800>,
 <__main__.Studnet at 0x7a33fb1add80>,
 <__main__.Studnet at 0x7a33fb1af1f0>,
 <__main__.Studnet at 0x7a33fb1aed10>]

In [ ]:
students = [
    Studnet( "AAA",98, 93, 79,95),
    Studnet( "BBB",78, 87, 87,90),
    Studnet( "CCC",90, 85, 89,92),
    Studnet( "DDD",80, 96, 99,93),
    Studnet( "EEE",70, 80, 89,95)
]
students

[<__main__.Studnet at 0x7a33fb1ad120>,
 <__main__.Studnet at 0x7a33fb1ac250>,
 <__main__.Studnet at 0x7a33fb1af250>,
 <__main__.Studnet at 0x7a33fb1aebc0>,
 <__main__.Studnet at 0x7a33fb1ad3f0>]

In [ ]:
students[0].name

'AAA'

In [ ]:
students[0].korean

98

In [ ]:
students[3].name

'DDD'

In [ ]:
# ==> 학생들에 대한 대상을 생성하는 과정에서
#     필요한 정보들만 생성을 한 것임!!!
# ==> 개별 객체(학생1명)에 대한 속성/정보 :property

In [ ]:
# 클래스 내부에서는 : 기능적으로 필요한 부분들도 추가 설계!!!!
# ==> 너의 총점은 얼마나야?
# 속성 // 기능 : property // method
class 클래스명:
    def __init__(self,):
        self.설정한속성 = 속성값 초기화
        ....
    def 메서드/내가원하는 기능.내가 원하는 함수(self, ,,,,,,,,,):
        ........

SyntaxError: invalid syntax (<ipython-input-50-728616620148>, line 6)

In [ ]:
class Studnet: # 일반적인 함수와 구별해서 하기 위해서 보통은 대문자로 시작!!!
# 생성자 : 필요한 초기 속성들에 대한 초기화!!!!
#         ==> 파이썬에서 클래스 생성시 초기화  미리 만든 함수 특별함수 : _(양옆2개)
    def __init__(self,name,korean, math, english, science ):
        self.name = name
        self.korean = korean
        self.math = math
        self.english = english
        self.science = science
    # ---> 필요한 기능 추가 : 총점계산, 평균계산, 출력(이름,총점, 평균)
    def get_sum(self):
      score_sum = self.korean + self.math + self.english + self.science
      return score_sum
    def get_avg(self):
        score_avg = self.get_sum() / 4
        return score_avg
    def to_string(self):
        temp = "{0}\t{1}]\t{2}".format(self.name, self.get_sum(), self.get_avg())
        return temp

In [ ]:
students = [
    Studnet( "AAA",98, 93, 79,95),
    Studnet( "BBB",78, 87, 87,90),
    Studnet( "CCC",90, 85, 89,92),
    Studnet( "DDD",80, 96, 99,93),
    Studnet( "EEE",70, 80, 89,95)
]
students

[<__main__.Studnet at 0x7a33fb1798a0>,
 <__main__.Studnet at 0x7a33fb179e10>,
 <__main__.Studnet at 0x7a33fb17b070>,
 <__main__.Studnet at 0x7a33fb179c00>,
 <__main__.Studnet at 0x7a33fb17b190>]

In [ ]:
students[0]

In [ ]:
students[0].name

'AAA'

In [ ]:
students[0].get_sum()

365

In [ ]:
students[0].get_avg()

91.25

In [ ]:
print(students[0].to_string())

AAA	365]	91.25

In [ ]:
students[3]

In [ ]:
students[3].get_sum()

368

In [ ]:
students[0].get_sum() > students[3].get_sum()

False

In [ ]:
students[0].get_sum() < students[3].get_sum()

True

In [ ]:
#std0 < std3
# 기준은 본인 의도/목적에 맞게 잡으면 됨.
# 단, 여기서는 단순히 총점으로만 기준을 함!!!

In [ ]:
# 특별메서드 : ==(eq), !=(ne), > :gt, >=: ge
#                              < :lt, <=:le

In [ ]:
class Studnet: # 일반적인 함수와 구별해서 하기 위해서 보통은 대문자로 시작!!!
# 생성자 : 필요한 초기 속성들에 대한 초기화!!!!
#         ==> 파이썬에서 클래스 생성시 초기화  미리 만든 함수 특별함수 : _(양옆2개)
    def __init__(self,name,korean, math, english, science ):
        self.name = name
        self.korean = korean
        self.math = math
        self.english = english
        self.science = science
    # ---> 필요한 기능 추가 : 총점계산, 평균계산, 출력(이름,총점, 평균)
    def get_sum(self):
        score_sum = self.korean + self.math + self.english + self.science
        return score_sum
    def get_avg(self):
        score_avg = self.get_sum() / 4
        return score_avg
    def to_string(self):
        temp = "{0}\t{1}\t{2}".format(self.name, self.get_sum(), self.get_avg())
        return temp

    #### ===> 2명 학생에 객체에 대한 연산자를 활용한 비교!!!!
    #         저의 기준 : 4과목 총점
    def __eq__(self, value): # std1 == std2 , total_sum
        return self.get_sum() == value.get_sum()
        # 참고) 국어점수가 기준 : self.korean == value.korean
    def __ne__(self, value): # std1 != std2, tot_sum
        return self.get_sum() != value.get_sum()
    def __gt__(self, value): # std1 > std2, tot_sum
        return self.get_sum() > value.get_sum()
    def __ge__(self, value): # std1 >= std2, tot_sum
        return self.get_sum() >= value.get_sum()
    def __lt__(self, value): # std1 < std2, tot_sum
        return self.get_sum() < value.get_sum()
    def __le__(self, value): # std1 <= std2, tot_sum
        return self.get_sum() <= value.get_sum()

In [ ]:
students = [
    Studnet( "AAA",98, 93, 79,95),
    Studnet( "BBB",78, 87, 87,90),
    Studnet( "CCC",90, 85, 89,92),
    Studnet( "DDD",80, 96, 99,93),
    Studnet( "EEE",70, 80, 89,95)
]
students

[<__main__.Studnet at 0x7a33fb1ac640>,
 <__main__.Studnet at 0x7a33fb1ae440>,
 <__main__.Studnet at 0x7a33fb1aef20>,
 <__main__.Studnet at 0x7a33fb1ac4c0>,
 <__main__.Studnet at 0x7a33fb1ad630>]

In [ ]:
students[0].get_sum()

365

In [ ]:
# ==> 클래스에서 각 생성된 객체끼리 비교 연산자를 활용해서
#     정의를 했으니, 각 정의에 대해서 총점 기준으로 비교!!!!

In [ ]:
# 0번 학생하고, 3번 학생하고 총점이 같니?
students[0].get_sum() == students[3].get_sum()

False

In [ ]:
students[0] == students[3]

False

In [ ]:
# ==> 학생들에 대한 대상을 생성하는 과정에서
#     필요한 정보들만 생성을 한 것임!!!
# ==> 개별 객체(학생1명)에 대한 속성/정보 :property

In [ ]:
# 0번학생의 총점이 3번 학생보다 높니?
students[0] > students[3]

False

In [ ]:
# 클래스
# ==> 필요한 속성값 : property( 변수들에 대한 값 , cnt = 0)
# ==> 필요한 기능   : method  ( 필요한 기능들    , 함수   )
#            + 기본적인 연산자를 활용 : 특별메서드
# 결론) 필요에 따라서 필요한 것들을 잘 설계해서 사용하자!!!!
#       구조적으로 접근하기 위해서!!!

In [ ]:
# 정사각형 관련 클래스
class Square:
    def __init__(self, size):
        self.size = size
    def get_area(self):
        return self.size * self.size

In [ ]:
s1 = Square(10)
s1

In [ ]:
s1.size

10

In [ ]:
s1.get_area()

100

In [ ]:
s2 = Square(20)
s2

In [ ]:
s2.size

20

In [ ]:
# ===> 클래스 내부의 속성값에 대한 외부 접근을 막기위해서..
#      속성값을 __을 지정해서 외부 접근을 방지할 수 있음!!!

In [ ]:
# 정사각형 관련 클래스
class Square:
    def __init__(self, size):
        self.__size = size
    def get_area(self):
        return self.__size * self.__size

In [ ]:
s1 = Square(10)
s1

In [ ]:
# 정사각형 관련 클래스
class Square:
    def __init__(self, size):
        self.__size = size
    def get_area(self):
        return self.__size * self.__size
    # 내부 속성에 대한 접근을 기능적으로 따로 만들어 둠 : FM(공식통로!!)
    # 1. 속성값을 나한테만 알려주세요!! : get~~
    def get_size(self):
        return self.__size
    # 2. 속성값을 변경을 해야할 때 : ~~set~~~
    def set_size(self, value):
        self.__size = value

In [ ]:
s1 = Square(10)
s1.get_area()

100

In [ ]:
s1.get_size()

10

In [ ]:
s1.get_size()

10

In [ ]:
# pandas : DF.get_value(), DF.set_value() XXXX
#          ===> 속도 이슈!!!!

In [ ]:
# model = rf( ~~~~~ )
# model.fit(X_train, y_train)
# model.predict(x_test)

In [ ]:
# ref : https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html

In [ ]:
#sql: 코테 +sql을 같이
#sql만 요구하는--> 개인 프로젝트/회사일
#회사 서버 여러 데이터 기록--> 처리하는 전담팀에 요구
#회사에서는 데이터를 서버에 저장:데이터베이스 시스템
#내가 꺼내고자 하는 데이터들을 잘 다룰 줄 알아야 함.
#sql,mysql,mssql
#sql 데이터 추출/특징/리포트
#--> 회사에서 사용하는 쿼리도 거의 정해져 있음
#-->여러 테이블에 무슨 정보들이 있는지,어떻게 연결되어 있는지 파악이 먼저
#할 수 있느냐!!
#sql 아주 잘 써야(많이 하게되는 경우)-> 수업에 할당되는 시간을 많이 줄임
#기본적인 sql쿼리문 작성 --> 기본적인 정보 추출 하는 쿼리

#다음주 수식/ 웹데이터 수집+numpy +pandas +데이터 전처리:9월9일 [시각화:테블로]
#9월 9일날(강사님 오심)-> 이때 2틀동안 본인이 다 해놓은걸 바탕으로 시각화해야지 결과물이 좋음
# 9월 13일(금) 개인 EDA
#-> 개인/수집/탐색 시간이 적을 수 있음
#-->최대한 본인이 직접 관심 있어서 했다라는 느낌이 강해야 함
#--> 들어봤던 주제는 피해야 한다!!!!!/이미 만들어진 셋을 활용 하지 말고 , 직접 수집을 하는 방향으로 진행하라
#데이터 수집/전처리를  직접 어렵게 해야지만 실무가서 잘 할 수 있다.
#-> 제일 관심 있는것부터 +명확한 주제 설정 중요:*****어디에 쓸건가********* -> 끝에 어디에 쓸건지 목적을 밝혀야 함.
# + 보려는 데이터가 없으면 안 됨!!
#양쪽 다 체크가 되는 주제

#예시 로봇심판 도입이 필요한 이유:1)오심으로 인해 뒤집힌 경기2)스트라이크 존 사이트를 들어가 분석해 오심개수가 몇개인지 ,3)볼 스트라이크 성공 비율이 얼마인지
#4) 어떤팀이 영향을 많이 받았는지 5)마지막으로 도입해야하는 자기 주장

#테이블로 정리+워드 크라우드,가설 검정사용
# 통계검정 타이트하게(회귀분석)/머신러닝이나 딥러닝 분석(내가 아는 분석 프로그램 사용)-> 코드를 직접 짰다는데 한 번 사용해보기
#--> 국내 저널에 논문도 게시

#*********** (1)본인이 개인적으로 관심있는 것,
#            (2)여러 사이트를 사용하면 각 사이트마다 정보를 부르는 이름이나 규격이 달라서 코드가 꼬이거나 더러움? 그래서 연결성 있게 잘 써야한다.
#            (3) 수치와 살제 데이터가 다를 수 있으니까 현실에 맞게 잘 적용해서 쓰기
#            (4)공공데이터를 사용해도 좋지만 주제를 명확하게 사용할 수 있을때만 사용해야 한다.
#            (5) 적용/활용 방안까지 고려(+문제 의식)
#            (6)주어진 주제에 맞춰서 진행하고 직접 수집을 했는가가 중요
#            (7)EDA 주제에 대해서 논리적인 단계에 필요한 사항들을 +시각화(테블로)+발표에 맞는 대시보드(테블로)를 사용해야 한다!!!!
#            -->미리미리 체크해야 하니까 쉬는시간에 강사님께 가서 물어보기 가능한지 내가 선정한게 주제에 따라 가고 있는지